[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Pp]ackages/
[Pp]ublish/
build/_results/
.vs/
.vscode/
.idea/
.fake/
*.suo
*.user
_ReSharper*/
_TeamCity*/
*.ReSharper
**/*.user
**/*.suo
*.ReSharper/
*.dotCover
*.dbmdl
TestResults.xml