div.HealthNetDashBoard {
    width: 100%;
    border: solid #666699 3px;
    background-color: #b3b3cc;
    border-radius: 25px;
    padding: 10px 10px 10px 10px;
    margin: 0px;
    box-sizing: border-box;
}
div.HealthNetEnvironment{
    width: 100%;
    display: inline-block;
    border: solid #666699 3px;
    border-radius: 25px;
    background-color: #8585ad;
    margin:  0px 0px 10px 0px;
    box-sizing: border-box;
    padding: 0px 10px 10px 10px;
}
div.HealthNetEnvironment:last-child{
    margin-bottom: 0px;
}
div.HealthNetDashBoard h1, div.HealthNetDashBoard div {
    color: #fff;
    font-family: Arial;
}
div.HealthNetEnvironment h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    text-shadow:
            2px 2px 5px #000,
                /* Simulated effect for Firefox and Opera
                   and nice enhancement for WebKit */
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px  1px 0 #000,
            1px  1px 0 #000;
}
div.HealthNetEndpoint {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 300px;
    border-radius: 25px;
    border: solid #666699 3px;
    background-color: #8585ad;
    margin: 5px;
    padding: 5px 10px;
}
div.HealthNetEndpoint h1{
    margin-top: 15px;
    font-size: 1.5em;
}
div.HealthNetChecking {
    background-image:
            repeating-linear-gradient(
                    -45deg,
                    #666699,
                    #666699 11px,
                    #eee 15px,
                    #eee 20px /* determines size */
            );
    background-size: 28px 28px;
    animation: checkingHealthAni .5s linear infinite;
}
@keyframes checkingHealthAni {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 28px 0;
    }
}
div.HealthNetEndpoint div{
    border-style: solid;
    border-radius: 25px;
    border-width: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px 15px;
}
div.HealthNetDashBoard div.Good{
    background-color: #33cc33;
    border-color: #009900;
}
div.HealthNetDashBoard div.Serious{
    background-color: #ffcc00;
    border-color: #ff9900;
}
div.HealthNetDashBoard div.Critical{
    background-color: #ff6666;
    border-color: #cc0000;
}
div.HealthNetDashBoard div.Dead {
    border-color: #b32400;
    background-image:
            repeating-linear-gradient(
                    -45deg,
                    #ff6666,
                    #ff6666 11px,
                    #cc0000 15px,
                    #cc0000 20px /* determines size */
            );
    background-size: 28px 28px;
}
div.HealthNetEndpoint div.Good {
    background-color: #009900;
    border-color: #006600;
}
div.HealthNetEndpoint div.Serious {
    background-color: #ff9900;
    border-color: #ff4000;
}
div.HealthNetEndpoint div.Critical {
    background-color: #cc0000;
    border-color: #b32400;
}

div.HealthNetDashBoard div.HealthNetResultRaw {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    border: none;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 9999;
}
div.HealthNetResultRaw div.HealthNetRawPopup{
    margin: 70px auto;
    padding: 20px;
    background-color: black;
    border: solid #666699 3px;
    border-radius: 25px;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
}
div.HealthNetDashBoard div.HealthNetResultRaw div.HealthNetRawContent{
    font-family: Consolas, "Courier New";
    color: #ffffff;
    max-height: 30%;
    overflow: auto;
    border: none;
    white-space: pre;
    padding: 10px 10px 10px 10px;
}
div.HealthNetDashBoard div.HealthNetResultRaw:target {
    visibility: visible;
    opacity: 1;
}
div.HealthNetEndpoint a.HealthNetShowRaw {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    font-family: Consolas, "Courier New";
    font-size: 0.5em;
    color: #fff;
    font-weight: bold;
    text-shadow:
            -1px -1px 1px #000,
            1px -1px  1px #000,
            -1px  1px  1px #000,
            1px  1px  1px #000;
}
div.HealthNetEndpoint a.HealthNetShowRaw:hover {
    font-size: 0.75em;
}
div.HealthNetResultRaw a.HealthNetCloseRaw {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}
div.HealthNetResultRaw a.HealthNetCloseRaw:hover {
    color: orange;
}