div.HealthNetDashBoard {
    width: 100%;
    border: solid #666699 3px;
    background-color: #b3b3cc;
    border-radius: 25px;
    padding: 10px 10px 10px 10px;
    margin: 0px;
    box-sizing: border-box;
}
div.HealthNetEnvironment{
    width: 100%;
    display: inline-block;
    border: solid #666699 3px;
    border-radius: 25px;
    background-color: #8585ad;
    margin:  0px 0px 10px 0px;
    box-sizing: border-box;
    padding: 0px 10px 10px 10px;
}
div.HealthNetEnvironment:last-child{
    margin-bottom: 0px;
}
div.HealthNetDashBoard h1, div.HealthNetDashBoard div {
    font-family: Arial;
}
div.HealthNetEnvironment h1 {
    font-size: 2em;
    text-align: center;
}
div.HealthNetEndpoint {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    border-radius: 25px;
    border: solid #666699 3px;
    background-color: #8585ad;
    margin: 5px;
    padding: 5px 10px;
}
div.HealthNetEndpoint h1{
    font-size: 1.5em;
}
div.HealthNetChecking {
    background-image:
            repeating-linear-gradient(
                    -45deg,
                    #666699,
                    #666699 11px,
                    #eee 15px,
                    #eee 20px /* determines size */
            );
    background-size: 28px 28px;
    animation: checkingHealthAni .5s linear infinite;
}
@keyframes checkingHealthAni {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 28px 0;
    }
}
div.HealthNetEndpoint div{
    border-style: solid;
    border-radius: 25px;
    border-width: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px 15px;
}
div.HealthNetDashBoard div.Good{
    background-color: #33cc33;
    border-color: #009900;
}
div.HealthNetDashBoard div.Serious{
    background-color: #ffcc00;
    border-color: #ff9900;
}
div.HealthNetDashBoard div.Critical{
    background-color: #ff6666;
    border-color: #cc0000;
}
div.HealthNetEndpoint div.Good {
    background-color: #009900;
    border-color: #006600;
    color: #eeeeee;
}
div.HealthNetEndpoint div.Serious {
    background-color: #ff9900;
    border-color: #ff4000;
}
div.HealthNetEndpoint div.Critical {
    background-color: #cc0000;
    border-color: #b32400;
}