<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsQuery" version="1.3.4" targetFramework="net45" />
  <package id="FluentAssertions" version="3.3.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Testing" version="3.0.1" targetFramework="net45" />
  <package id="Nancy" version="1.1" targetFramework="net45" />
  <package id="Nancy.Hosting.Self" version="1.1" targetFramework="net45" />
  <package id="Nancy.Owin" version="1.1" targetFramework="net45" />
  <package id="Nancy.Testing" version="1.1" targetFramework="net45" />
  <package id="NCeption.Core" version="1.1.0.45" targetFramework="net45" />
  <package id="NCeption.Nancy" version="1.1.0.45" targetFramework="net45" />
  <package id="NCeption.NUnit" version="1.1.0.45" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="NSubstitute" version="1.8.1.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
</packages>